@use "abstracts" as *;

//*?+*+*+*+====== !ANCHOR Container =====+*+*+*+*/
.container {
  min-height: 100vh; //* Fallback
  min-height: 100svh;
  padding: 0.8rem;

  display: flex;
  align-items: center;
  justify-content: center;
  display: grid;
}

//*?+*+*+*+====== !ANCHOR App =====+*+*+*+*/
.app {
  max-width: 46rem;
  background-color: #fff;
  padding: 3.2rem;
  border-radius: 1rem;
  box-shadow: $shadow-standard;
}

//*?+*+*+*+====== !ANCHOR App =====+*+*+*+*/
.header {
  text-align: center;
  margin-bottom: 3.2rem;

  &__heading {
    font-size: 3.6rem;
  }
}
//*?+*+*+*+====== !ANCHOR Footer =====+*+*+*+*/
.footer {
  background-color: $color-secondary;
  padding: 2.4rem;
  margin-top: 2.4rem;
  border-radius: 0.3rem;

  &__message {
    font-size: 2rem;
    text-align: center;
    color: #fff;
    text-shadow: $shadow-standard;
  }
}
